Repository Aravin/js-classified: changes, and which lint-staged commands are due for each by the changed paths.
All: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

.lintstagedrc.json:

{
  "client/**/*.{js,ts,svelte,json}": [
    "cd client && npm run format",
    "cd client && npm run lint:fix"
  ],
  "server/**/*.{js,ts,json,prisma}": [
    "cd server && npm run format",
    "cd server && npm run lint:fix"
  ]
}

Add Recent Categories and Recent Locations components for enhanced user experience
  client/src/lib/components/RecentCategories.svelte
  client/src/lib/components/RecentLocations.svelte
  client/src/lib/components/RelevantListings.svelte
  client/src/routes/+page.svelte
  client/src/routes/list/[slug]/+page.ts
  client/src/routes/search/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Update RecentCategories and RecentLocations components to use 'key' instead of 'id' for category and location identification
  client/src/lib/components/RecentCategories.svelte
  client/src/lib/components/RecentLocations.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add hasImages filter to listing queries and update checkbox state in category and search pages
  client/src/routes/category/[slug]/+page.svelte
  client/src/routes/search/+page.svelte
  server/api/routes/listing.routes.ts
  server/api/schemas/listing.schema.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Enhance fallback logic for listing queries to include hasImages filter
  client/src/routes/category/[slug]/+page.svelte
  client/src/routes/category/[slug]/+page.ts
  client/src/routes/search/+page.svelte
  client/src/routes/search/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Add settings page with user authentication and profile management
  client/src/routes/settings/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add reCAPTCHA integration for enhanced security in contact info retrieval
  client/.env.example
  client/README.md
  client/src/app.d.ts
  client/src/lib/auth/auth0.ts
  client/src/lib/config.ts
  client/src/routes/category/[slug]/+page.svelte
  client/src/routes/list/[slug]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add Auth Header Validation Guide and enhance authentication flow
  client/AUTH_VALIDATION.md
  client/README.md
  client/src/lib/auth/auth0.ts
  client/src/lib/config.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/my-ads/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.svelte
  server/api/routes/listing.routes.ts
  server/cloudbuild.yaml
  server/middleware/auth.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Refactor listing route authentication logic to streamline access control
  server/api/routes/listing.routes.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Enhance layout with popular categories and external links
  client/src/routes/+layout.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add reset functionality to SearchableSelect component
  client/src/lib/SearchableSelect.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Implement active ads limit checks across listing management features
  client/src/lib/config.ts
  client/src/lib/utils.ts
  client/src/routes/my-ads/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.svelte
  client/src/routes/post-ad/+page.svelte
  client/src/routes/post-ad/preview/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add Google integration features for classified ads
  client/GOOGLE_INTEGRATION.md
  client/src/lib/google-integration.ts
  client/src/lib/utils.ts
  client/src/routes/list/[slug]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Enhance listing management with ownership checks and action buttons
  client/src/lib/auth/auth0.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Add animated gradient background and category icons to homepage
  client/src/app.css
  client/src/routes/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Update URLs from locful.in to locful.com across the application
  client/GOOGLE_INTEGRATION.md
  client/src/app.html
  client/src/lib/google-integration.ts
  client/src/routes/+layout.svelte
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/robots.txt/+server.ts
  client/src/routes/sitemap.xml/+server.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Enhance Google integration with structured data improvements
  client/src/lib/google-integration.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Update storage provider documentation and interfaces
  server/docs/storage-providers.md
  server/services/providers/cloudinary.provider.ts
  server/services/storage.factory.ts
  server/services/storage.interface.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Add email service and daily report functionality
  server/.env.example
  server/cloudbuild.yaml
  server/config/config.ts
  server/docs/daily-reports.md
  server/index.ts
  server/package.json
  server/readme.md
  server/services/email.service.ts
  server/services/statistics.service.ts
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

Fix primary button text color to ensure better visibility and consistency across the application
  client/src/app.css
Due: none

Enhance Google integration with detailed rating and review handling
  client/src/lib/google-integration.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Add Google Analytics integration to client configuration
  client/.env.example
  client/README.md
  client/src/lib/config.ts
  client/src/routes/+layout.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Implement Google Analytics initialization in layout component
  client/src/app.d.ts
  client/src/routes/+layout.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Refactor daily statistics report functionality
  server/cloudbuild.yaml
  server/config/config.ts
  server/docs/daily-reports.md
  server/index.ts
  server/package.json
  server/readme.md
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

Update cloudbuild.yaml to use double dollar signs for environment variables
  server/cloudbuild.yaml
Due: none

refactor: Remove Cloud Build automation for Cloud Scheduler provisioning and update documentation with manual setup instructions.
  server/cloudbuild.yaml
  server/docs/daily-reports.md
  server/readme.md
Due: none

feat: Add Prisma as a dev dependency.
  server/package.json
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

feat: Integrate authentication headers in API requests and enhance user ownership verification
  client/src/lib/auth/auth0.ts
  client/src/lib/components/ImageUpload.svelte
  client/src/lib/utils.ts
  client/src/routes/my-ads/+page.svelte
  client/src/routes/post-ad/+page.svelte
  client/src/routes/post-ad/preview/+page.svelte
  server/api/routes/image.routes.ts
  server/api/routes/listing.routes.ts
  server/api/routes/user.routes.ts
  server/api/schemas/listing.schema.ts
  server/services/image.service.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

feat: Implement listing expiry logic and configure expiry days from environment variables
  server/api/routes/listing.routes.ts
  server/config/config.ts
Due: cd server && npm run format, cd server && npm run lint:fix

feat: Add expired listing handling and update API response to include expiry flag
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/list/[slug]/+page.ts
  client/src/routes/my-ads/+page.svelte
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

feat: Update Cloud Build configuration to set environment variables with CORS origin
  server/cloudbuild.yaml
Due: none

Add architecture documentation and initial server setup
  CLAUDE.md
  client/CLAUDE.md
  db/CLAUDE.md
  docs/architecture.md
  llms.txt
  server/CLAUDE.md
Due: none

fix: Correct regex delimiter in Cloud Build configuration for environment variables
  server/cloudbuild.yaml
Due: none

refactor: move CORS registration to root scope, update Auth0 flow, and add CI/CD deployment filters
  client/src/routes/my-ads/+page.svelte
  server/index.ts
  server/middleware/auth.ts
  server/plugins/security.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

feat: add cloud build and vercel deployment configurations and update listing expiry alert styling
  client/src/routes/list/[slug]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

ci: add Vercel build ignore rule and GCP Cloud Build trigger for server deployments
  .cloudbuild/server-trigger.yaml
  client/vercel.json
Due: cd client && npm run format, cd client && npm run lint:fix

refactor(client): comprehensive UX, SEO and correctness improvements
  client/src/lib/components/AuthNav.svelte
  client/src/lib/components/RecentListings.svelte
  client/src/lib/utils.ts
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/my-ads/+page.svelte
  client/src/routes/post-ad/+page.svelte
  client/src/routes/search/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

refactor: replace deprecated label with div and role button for AuthNav dropdown trigger
  client/src/lib/components/AuthNav.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

feat: enable and style statistics section and refactor recent listings component with layout enhancements
  client/src/routes/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

feat: add crawler support with external listing fields, validation updates, and system user seeding script
  client/src/lib/utils.ts
Due: cd client && npm run format, cd client && npm run lint:fix

feat: implement dynamic OG image generation for listings, add sitemap API route, and configure Vitest for unit testing.
  .husky/pre-commit
  .lintstagedrc.json
  client/README.md
  client/package.json
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/list/[slug]/og.png/+server.ts
  client/src/routes/list/[slug]/og.png/og.test.ts
  client/src/routes/sitemap.xml/+server.ts
  client/src/routes/sitemap.xml/sitemap.test.ts
  client/yarn.lock
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix
