Repository Aravin/js-classified: changes, and which lint-staged commands are due for each by the changed paths.
All: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

.lintstagedrc.json:

{
  "client/**/*.{js,ts,svelte,json}": [
    "cd client && npm run format",
    "cd client && npm run lint:fix"
  ],
  "server/**/*.{js,ts,json,prisma}": [
    "cd server && npm run format",
    "cd server && npm run lint:fix"
  ]
}

Updated app name and favicon
  client/src/app.html
  client/src/routes/+layout.svelte
  client/static/favicon.png
Due: cd client && npm run format, cd client && npm run lint:fix

Added image upload functionality
  client/src/lib/components/ImageUpload.svelte
  client/src/lib/types.ts
  client/src/routes/post-ad/+page.svelte
  client/src/routes/post-ad/preview/+page.svelte
  db/migrations/20241117174736_add_draft_status_in_listing_table/migration.sql
  db/prisma/seed.ts
  db/schema.prisma
  server/api/routes/image.routes.ts
  server/api/routes/listing.routes.ts
  server/api/schemas/listing.schema.ts
  server/api/schemas/upload.schema.ts
  server/config/config.ts
  server/index.ts
  server/plugins/security.ts
  server/services/image.service.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Added multi image upload option
  client/package.json
  client/src/lib/components/ImageUpload.svelte
  client/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix

Upadated listing status from DRAFT to PUBLISHED
  client/src/lib/components/ImageUpload.svelte
  client/src/routes/post-ad/+page.svelte
  client/src/routes/post-ad/preview/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Updated list screen to display multiple images
  client/src/routes/list/[slug]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Fixed some api issues
  server/api/schemas/listing.schema.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Modify types based on api response
  client/src/lib/types.ts
  client/src/routes/category/[slug]/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Handle the backend response in list view
  client/src/routes/category/[slug]/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix

Added search to the API
  client/src/routes/search/+page.ts
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

updated name to locful
  client/src/app.html
  client/src/routes/+layout.svelte
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Added Auth0 to the client
  client/package.json
  client/src/lib/auth/auth0.ts
  client/src/lib/components/AuthNav.svelte
  client/src/routes/+layout.svelte
  client/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix

Added user table
  client/src/lib/auth/auth0.ts
  db/migrations/20241119172422_add_user_table/migration.sql
  db/schema.prisma
  server/api/routes/listing.routes.ts
  server/api/routes/user.routes.ts
  server/api/schemas/user.schema.ts
  server/index.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Added auth for user
  client/src/routes/post-ad/+page.svelte
  server/api/routes/listing.routes.ts
  server/api/routes/user.routes.ts
  server/api/schemas/listing.schema.ts
  server/api/schemas/user.schema.ts
  server/package.json
  server/services/auth0.service.ts
  server/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

update user api to get by id instead of username
  server/api/routes/user.routes.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Add auth for post-ad
  client/src/lib/auth/auth0.ts
  client/src/lib/components/AuthNav.svelte
  client/src/routes/post-ad/+page.svelte
  server/api/schemas/listing.schema.ts
  server/index.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

updated phoneRegex
  server/api/schemas/listing.schema.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Pass authUserId instead of userId to API call
  client/src/routes/post-ad/+page.svelte
  server/api/routes/listing.routes.ts
  server/api/schemas/listing.schema.ts
  server/services/auth0.service.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

updated confirm modal to shown only when required
  client/src/routes/post-ad/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Added my-ads page & respective APIs
  client/src/lib/auth/auth0.ts
  client/src/lib/config.ts
  client/src/routes/+layout.svelte
  client/src/routes/my-ads/+page.svelte
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Apply DRY for forms & created edit page for my-ad
  client/src/lib/form-validation.ts
  client/src/routes/my-ads/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.svelte
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Added highlight/animation for active or draft banner
  client/src/routes/my-ads/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Added image upload section in edit page
  client/src/routes/my-ads/edit/[id]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

Add environment configuration files for client and server
  client/.env.example
  client/README.md
  server/.env.example
  server/.gitignore
  server/readme.md
Due: none

Update dependencies for client and server
  client/package.json
  client/yarn.lock
  server/package.json
  server/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

Enhance environment variable validation and error handling
  server/api/routes/listing.routes.ts
  server/config/config.ts
  server/index.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Add database setup files and scripts
  db/.env.example
  db/README.md
  db/package.json
  db/prisma/seed.ts
Due: none

Add storage provider abstraction and configuration
  server/.dockerignore
  server/.env.example
  server/.gcloudignore
  server/Dockerfile
  server/cloudbuild.yaml
  server/config/config.ts
  server/docs/storage-providers.md
  server/readme.md
  server/services/image.service.ts
  server/services/providers/cloudinary.provider.ts
  server/services/storage.factory.ts
  server/services/storage.interface.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Update cloudbuild.yaml to use default machine type and add comments for quota management
  server/cloudbuild.yaml
Due: none

Update Dockerfile to include Prisma schema copy and ensure client generation
  server/Dockerfile
Due: none

Refactor Dockerfile and cloudbuild.yaml for improved build process
  server/Dockerfile
  server/cloudbuild.yaml
Due: none

Update cloudbuild.yaml and Dockerfile for locful-api deployment
  server/Dockerfile
  server/cloudbuild.yaml
  server/config/config.ts
  server/index.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Remove unnecessary environment variable setting in cloudbuild.yaml for locful-api deployment
  server/cloudbuild.yaml
Due: none

Refactor health check implementation and route registration in server
  server/Dockerfile
  server/index.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Optimize Docker build process and cloudbuild configuration
  server/Dockerfile
  server/cloudbuild.yaml
Due: none

Implement comprehensive security measures and middleware enhancements
  server/SECURITY.md
  server/config/security.ts
  server/index.ts
  server/middleware/auth.ts
  server/middleware/fileValidation.ts
  server/middleware/security.ts
  server/middleware/validation.ts
  server/package.json
  server/plugins/security.ts
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

Update documentation and code files with minor formatting adjustments
  server/SECURITY.md
  server/config/security.ts
  server/docs/storage-providers.md
  server/middleware/auth.ts
  server/middleware/fileValidation.ts
  server/middleware/security.ts
  server/services/providers/cloudinary.provider.ts
  server/services/storage.factory.ts
  server/services/storage.interface.ts
Due: cd server && npm run format, cd server && npm run lint:fix

Refactor security middleware to enhance input validation
  server/middleware/security.ts
  server/package.json
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

Remove unnecessary build dependencies from Dockerfile to streamline the build process.
  server/Dockerfile
Due: none

Add Recent and Relevant Listings components for enhanced listing display
  client/src/lib/components/RecentListings.svelte
  client/src/lib/components/RelevantListings.svelte
  client/src/routes/+page.svelte
  client/src/routes/category/[slug]/+page.svelte
  client/src/routes/category/[slug]/+page.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/search/+page.svelte
  client/src/routes/search/+page.ts
Due: cd client && npm run format, cd client && npm run lint:fix
