Repository Aravin/js-classified: changes, and which lint-staged commands are due for each by the changed paths.
All: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

.lintstagedrc.json:

{
  "client/**/*.{js,ts,svelte,json}": [
    "cd client && npm run format",
    "cd client && npm run lint:fix"
  ],
  "server/**/*.{js,ts,json,prisma}": [
    "cd server && npm run format",
    "cd server && npm run lint:fix"
  ]
}

feat: add user-specific listing limit override to database and API logic
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
  db/migrations/20260612161015_add_user_listing_limit/migration.sql
  db/schema.prisma
  server/api/routes/listing.routes.ts
  server/api/routes/user.routes.ts
  server/api/schemas/user.schema.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

feat: implement listing republishing functionality with database tracking and UI support
  client/src/lib/utils.test.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/my-ads/+page.svelte
  db/migrations/20260613075647_add_republish_tracking/migration.sql
  db/schema.prisma
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

refactor: include activeLimit in ad limit checks and update dependencies to latest versions
  client/package.json
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/list/[slug]/og.png/og.test.ts
  client/src/routes/my-ads/+page.svelte
  client/src/routes/my-ads/edit/[id]/+page.svelte
  client/src/routes/post-ad/+page.svelte
  client/src/routes/post-ad/preview/+page.svelte
  client/src/routes/sitemap.xml/sitemap.test.ts
  client/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix

feat: add loading states and button disabling to prevent concurrent image uploads and listing publication
  client/src/lib/components/ImageUpload.svelte
  client/src/routes/post-ad/preview/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

refactor: rename project from JS Classifieds to Locful across UI components and documentation
  client/README.md
  client/src/routes/+layout.svelte
  client/src/routes/settings/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

feat: incorporate republishedAt into listing expiration logic and queries
  client/src/lib/utils.test.ts
  client/src/lib/utils.ts
  client/src/routes/list/[slug]/+page.svelte
  client/src/routes/my-ads/+page.svelte
  server/api/routes/listing.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

refactor: update AuthNav styling and active states, and improve edit flow and responsive layout in post-ad preview
  client/src/lib/components/AuthNav.svelte
  client/src/routes/post-ad/preview/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

feat: reorder Recent Listings section to appear above the hero section on the homepage
  client/src/routes/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

feat: sync user profile fields from Auth0 on login, sanitize display strings on leaderboard, and add user route tests
  client/src/routes/leaderboard/+page.svelte
  server/api/routes/user.routes.test.ts
  server/api/routes/user.routes.ts
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

feat: add VIEWER_KEY_SECRET to cloudbuild environment secrets
  server/cloudbuild.yaml
Due: none

feat: disable delete actions and form submission during image uploads in edit ad page
  client/src/routes/my-ads/edit/[id]/+page.svelte
Due: cd client && npm run format, cd client && npm run lint:fix

chore: add dependency resolutions to enforce specific package versions
  server/package.json
  server/yarn.lock
Due: cd server && npm run format, cd server && npm run lint:fix

feat: implement OLX crawler service with Firecrawl and add listing cleanup automation
  AGENTS.md
  client/.lintstagedrc.json
  client/src/lib/components/ListingCard.svelte
  client/src/lib/types.ts
  client/src/routes/list/[slug]/+page.svelte
  db/migrations/20260620161421_add_crawler_fields/migration.sql
  db/schema.prisma
  server/.env.example
  server/api/routes/listing.routes.test.ts
  server/api/routes/listing.routes.ts
  server/cloudbuild.yaml
  server/config/config.ts
  server/docs/crawler.md
  server/index.ts
  server/package.json
  server/readme.md
  server/services/crawler/crawler.interface.ts
  server/services/crawler/crawler.service.test.ts
  server/services/crawler/crawler.service.ts
  server/services/crawler/firecrawl.client.ts
  server/services/crawler/olx.source.test.ts
  server/services/crawler/olx.source.ts
  server/services/image.service.ts
  server/services/listing-cleanup.service.test.ts
  server/services/listing-cleanup.service.ts
  server/services/providers/cloudinary.provider.test.ts
  server/services/providers/cloudinary.provider.ts
  server/services/reward.service.test.ts
  server/services/reward.service.ts
  server/services/storage.interface.ts
  server/utils/watermark.test.ts
  server/utils/watermark.ts
  server/yarn.lock
Due: cd client && npm run format, cd client && npm run lint:fix, cd server && npm run format, cd server && npm run lint:fix

chore: escape variables in cloudbuild.yaml to support shell execution
  server/cloudbuild.yaml
Due: none

refactor: remove service account IAM bindings and OIDC authentication for Cloud Scheduler jobs in favor of header-based secret verification
  server/cloudbuild.yaml
  server/readme.md
Due: none

feat: add daily-statistics cron job to cloudbuild scheduler
  server/cloudbuild.yaml
Due: none

chore: migrate email provider from SendGrid to SMTP in cloudbuild and environment configuration
  server/.env.example
  server/cloudbuild.yaml
Due: none

fix: update Cloud Scheduler header configuration to support job modification
  server/cloudbuild.yaml
Due: none
